---
title: "下载"
permalink: "/download/"
js:
- /scripts/download.js
---

{% assign release = site.github.releases | where: "tag_name", site.download_page_tags.release | first %}
{% if site.download_page_tags.playtest %}
  {% assign playtest = site.github.releases | where: "tag_name", site.download_page_tags.playtest | first %}
{% endif %}

<div class="download">
  <section class="site-section">
    <div class="site-section__content">
      <h1 class="site-section__heading">下载</h1>
      <p class="text--large">OpenRA是一款多平台游戏，可以在多种当代主流操作系统中运行。
        {% if playtest %}
        现行最新的正式版是：<code>{{ release.tag_name }}</code>，最新的测试版是：<code>{{ playtest.tag_name }}</code>
        {% else %}
        现行最新的正式版是：<code>{{ release.tag_name }}</code>
        {% endif %}
      </p>
  
      <div class="download-info">
        <div class="download-info__build">
          <h3>我应该选择哪一个版本？</h3>
          <p>OpenRA提供两个可选版本，分别是测试版（Playtest）和发布版（Release），你可以根据自己的需求自行选择。</p>
          <ul>
            <li><strong>正式版</strong>足以满足绝大部分玩家的需求；</li>
            <li><strong>测试版</strong>作为未来OpenRA正式版的预览，更适合那些想要抢先体验，或者想要协助我们完善OpenRA的玩家们。</li>
          </ul>
        </div>
        <div class="download-info__license">
          <h3>游戏素材与权属说明</h3>
          <p>OpenRA（游戏及游戏引擎）是基于<a href="{{ '/legal/#license' | relative_url }}">GPL3协议</a>的免费开源软件，的免费开源软件；然而OpenRA的模组必须依赖原始游戏的素材文件才能正常运行。上述素材文件的使用均遵循EA发布的命令与征服系列模组说明书（<a href="https://www.ea.com/games/command-and-conquer/command-and-conquer-remastered/modding-faq">C&C Franchise Modding Guidelines</a>）。</p>
          <p><em>请注意，OpenRA并不持有上述“原始游戏之素材文件”的权属，您必须从合法且正当的来源自行获取运行OpenRA所必须的上述文件。</em></p>
        </div>
      </div>

    </div>
  </section>
  
  <hr class="site-section__divider" />
  
  <section id="server-browser" class="servers site-section">
    <div class="site-section__content">

      <h2 class="site-section__heading">选择你的操作系统</h2>
      <fieldset class="button-group download__os-selector">
        <label class="radio-button radio-button--icon button download__os download__os-windows">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-windows' | relative_url }}"></use>
          </svg>
          <div>
            Windows
          </div>
          <input
            class="radio-button__input"
            name="operating-system"
            value="windows"
            type="radio" />
        </label>
        <label class="radio-button radio-button--icon button download__os download__os-macos">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-apple' | relative_url }}"></use>
          </svg>
          <div>
            macOS
          </div>
          <input
            class="radio-button__input"
            name="operating-system"
            value="macos"
            type="radio" />
        </label>
        <label class="radio-button radio-button--icon button download__os download__os-linux">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-linux' | relative_url }}"></use>
          </svg>
          <div>
            Linux
          </div>
          <input
            class="radio-button__input"
            name="operating-system"
            value="linux"
            type="radio" />
        </label>
        <label class="radio-button radio-button--icon button download__os download__os-free-bsd">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-freebsd' | relative_url }}"></use>
          </svg>
          <div>
            FreeBSD
          </div>
          <input
            class="radio-button__input"
            name="operating-system"
            value="free-bsd"
            type="radio" />
        </label>
        <label class="radio-button radio-button--icon download__os-source button">
          <svg class="button__icon icon">
            <use xlink:href="{{ '/images/icons/icons.svg#icon-github' | relative_url }}"></use>
          </svg>
          <div>
            源代码
          </div>
          <input
            class="radio-button__input download__os download__os-source"
            name="operating-system"
            value="source"
            type="radio" />
        </label>
      </fieldset>

      <div class="download__instructions">
        <div id="instructions" class="instructions">
          <div id="windows-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              OpenRA可在任何支持DirectX11以及OPenGL 3+的Window 7以及后续操作系统上运行
              <p class="text--warning text--small">OpenRA汉化组注：如您条件允许，请尽量在 Windows 10 的操作系统上运行OpenRA</p>
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="windows" %}
                {% include release-download-button.html
                  release=playtest
                  type="windows"
                  playtest=true %}
                </span>
              </p>
              <p class="text--info text--small">
                {% if playtest %}
                  32位安装包和可移植版本可以从<a href="{{ release.html_url }}">{{ release.tag_name }}</a>和<a href="{{ playtest.html_url }}">{{ playtest.tag_name }}</a>下载。
                {% else %}
                  32位安装包和可移植版本可以从<a href="{{ release.html_url }}">{{ release.tag_name }}</a>下载。
                {% endif %}
              </p>
              <p>从<a href="https://winstall.app/apps/OpenRA.OpenRA">WinGet</a>获得稳定发布版：</p>
              <p>
                <code class="terminal"><span class="terminal__prompt">></span> winget install openra</code>
              </p>
              <p>从<a href="https://community.chocolatey.org/packages/openra">Chocolatey</a>获得软件包：</p>
              <p>
                <code class="terminal"><span class="terminal__prompt">></span> choco install openra</code>
              </p>
              <p class="text--warning text--small">请注意，OpenRA官方不负责该社群平台的维护工作；在新版本发布后，此类下游平台可能会出现一些发布延迟</p>
            </div>
          </div>
      
          <div id="macos-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              OpenRA适合在<strong>macOS 10.13</strong>及后续版本的操作系统上运行
              <p class="text--centered">
                <span class="button-group">
                  {% include release-download-button.html
                    release=release
                    type="macos" %}
                  {% include release-download-button.html
                    release=playtest
                    type="macos"
                    playtest=true %}
                </span>
              </p>
              <p class="text--info text--small">
                {% if playtest %}
                  支持 OS X 10.9 – 10.12 的兼容性版本可以从 <a href="{{ release.html_url }}">{{ release.tag_name }}</a> 以及 <a href="{{ playtest.html_url }}">{{ playtest.tag_name }}</a> 下载。
                {% else %}
                  支持 OS X 10.9 – 10.12 的兼容性版本可以从 <a href="{{ release.html_url }}">{{ release.tag_name }}</a> 下载。
                {% endif %}
              </p>
              <p>从<a href="https://formulae.brew.sh/cask/openra">Homebrew Cask</a>获得稳定发布版：</p>
              <p>
                <code class="terminal"><span class="terminal__prompt">$</span> brew install --cask openra</code>
              </p>
              <p class="text--warning text--small">请注意，OpenRA官方不负责此类社群平台的维护工作；在新版本发布后，此类下游平台可能会出现一些发布延迟</p>
            </div>
          </div>
      
          <div id="linux-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              <h4>官方AppImages</h4>
              <p>OpenRA可以像其他应用程序一样在绝大部分当代64位Linux系统上运行</p>
              <p>你必须单独下载每一个模组，并使之可被顺利执行，随后双击即可启动游戏；你也可以安装可选的<a href="https://github.com/AppImage/appimaged/">appimaged</a>程序，从而将OpenRA与你的系统或浏览器集成在一起</p>
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="appimage"
                  appimagename="Red-Alert"
                  text="下载红色警戒"
                  icon='/images/icons/ra_64x64.png' %}
                {% include release-download-button.html
                  release=playtest
                  type="appimage"
                  appimagename="Red-Alert-playtest"
                  text="下载红色警戒测试版"
                  icon='/images/icons/ra_64x64.png'
                  playtest=true %}
                </span>
              </p>
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="appimage"
                  appimagename="Tiberian-Dawn"
                  text="下载泰伯利亚的黎明"
                  icon='/images/icons/cnc_64x64.png' %}
                {% include release-download-button.html
                  release=playtest
                  type="appimage"
                  appimagename="Tiberian-Dawn-playtest"
                  text="下载泰伯利亚的黎明测试版"
                  icon='/images/icons/cnc_64x64.png'
                  playtest=true %}
                </span>
              </p>
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="appimage"
                  appimagename="Dune-2000"
                  text="下载沙丘2000"
                  icon='/images/icons/d2k_64x64.png' %}
                {% include release-download-button.html
                  release=playtest
                  type="appimage"
                  appimagename="Dune-2000-playtest"
                  text="下载沙丘2000测试版"
                  icon='/images/icons/d2k_64x64.png'
                  playtest=true %}
                </span>
              </p>
              <hr />
              <h4>社区维护包</h4>
              <p>OpenRA也可以使用Linux发行版或其他第三方提供的软件包进行安装。这些软件包将提供与您的系统更好的集成，但可能并不总是提供最新版本。有关任何打包问题，请联系下游存储库维护人员。</p>
              <p class="text--warning text--small">请注意，OpenRA官方不负责此类社群平台的维护工作；在新版本发布后，此类下游平台可能会出现一些发布延迟</p>
              <dl class="download__community-packages">
                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/flatpak.png' | relative_url }}" alt="" />
                  Flatpak
                </dt>
                <dd>
                  <p>从<a href="https://flathub.org/apps/details/net.openra.OpenRA">Flathub</a>获得稳定发布版及可玩性测试版：</p>
                  <p>
<code class="terminal"><span class="terminal__prompt">$</span> flatpak install --from https://flathub.org/repo/appstream/net.openra.OpenRA.flatpakref
<span class="terminal__prompt">$</span> flatpak install --from https://flathub.org/beta-repo/appstream/net.openra.OpenRA.flatpakref</code>
                  </p>
                  <p class="text--info text--small">
                    请注意，Flatpak沙盒会干扰官方和社区mod之间的mod切换功能。我们建议希望使用此功能的玩家运行AppImage版本。
                  </p>
                </dd>
                
                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/snapcraft.svg' | relative_url }}" alt="" />
                  Snap
                </dt>
                <dd>
                  <p>从<a href="https://snapcraft.io/openra">Snap Store</a>获得稳定发布版：</p>
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> snap install openra</code>
                  </p>
                </dd>
        
                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/arch.svg' | relative_url }}" alt="" />
                  Arch Linux
                </dt>
                <dd>
                  <p>从官方<a href="https://www.archlinux.org/packages/community/any/openra/">Arch 仓库</a>获得稳定发布版：</p>
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> pacman -S openra</code>
                  </p>
                </dd>

                <dt>
                  <img src="{{ '/images/icons/linux-mirrors/opensuse.svg' | relative_url }}" class="icon" />
                  openSUSE Linux
                </dt>
                <dd>
                  从<a href="http://software.opensuse.org/download.html?project=games:openra&amp;package=openra">openSUSE Build Service repository</a>获得稳定发布版及可玩性测试版：
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> zypper install openra</code>
                  </p>
                </dd>
        
                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/solus.svg' | relative_url }}" />
                  Solus
                </dt>
                <dd>
                  <p>从官方Solus存储库获得稳定发布版：</p>
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> eopkg it openra</code>
                  </p>
                </dd>
                
                <dt>
                  <img src="{{ '/images/icons/linux-mirrors/ubuntu.svg' | relative_url }}" class="icon" />
                  Ubuntu
                </dt>
                <dd>
                  从<a href="https://xtradeb.net/play/openra/">XtraDeb</a>获得稳定发布版：
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> apt install openra</code>
                  </p>
                </dd>

                <dt>
                  <img class="icon" src="{{ '/images/icons/linux-mirrors/void.svg' | relative_url }}" />
                  Void Linux
                </dt>
                <dd>
                  <p>从官方<a href="https://github.com/void-linux/void-packages/tree/master/srcpkgs/openra">Void Linux 仓库</a>获得稳定发布版：</p>
                  <p>
                    <code class="terminal"><span class="terminal__prompt">$</span> xbps-install openra</code>
                  </p>
                </dd>
              </dl>
            </div>
          </div>
      
          <div id="free-bsd-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              玩家可以在<a href="https://www.freshports.org/games/openra/">FreeBSD Ports Collection</a>获取最新的稳定版资源
              <p>
<code class="terminal"><span class="terminal__prompt">#</span> cd /usr/ports/games/openra
<span class="terminal__prompt">#</span> make install</code>
              </p>
              <p class="text--warning text--small">请注意，OpenRA官方不负责此类社群平台的维护工作；在新版本发布后，此类下游平台可能会出现一些发布延迟
              </p>
            </div>
          </div>
      
          <div id="source-instructions" class="instruction dark-panel">
            <div class="instruction__content">
              你可以下载OpenRA源代码并在任何平台上进行编译
              <p class="text--centered">
                <span class="button-group">
                {% include release-download-button.html
                  release=release
                  type="source"
                  tag=release.tag_name %}
                {% include release-download-button.html
                  release=playtest
                  type="source"
                  tag=playtest.tag_name
                  playtest=true %}
                </button>
              </p>
              <p class="text--info text--small">
              {% if playtest %}
                编译说明可以从<a href="https://github.com/OpenRA/OpenRA/blob/{{ release.tag_name }}/INSTALL.md">{{ release.tag_name }}</a> 以及 <a href="https://github.com/OpenRA/OpenRA/blob/{{ playtest.tag_name }}/INSTALL.md">{{ playtest.tag_name }}</a>获取。
              {% else %}
                编译说明可以从<a href="https://github.com/OpenRA/OpenRA/blob/{{ release.tag_name }}/INSTALL.md">{{ release.tag_name }}</a>获取。
              {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>