---
title: "新闻"
layout: "default"
---

<section class="developer-updates site-section">
  <div class="site-section__content">
    <h1 class="developer-updates__heading site-section__heading">新闻</h1>
    <p class="text--large">阅读以下文档来了解OpenRA自立项以来的漫长历程以及最新消息。</p>
    <p>注：所有新闻均为机翻，如需阅读原文请前往OpenRA官网<a href="https://www.openra.net/news/">新闻页</a></p>
  </div>
</section>

{% assign postsByYear = site.posts | group_by_exp:"post", "post.created_at | date: '%Y'" %}
{% for year in postsByYear %}
  <hr class="site-section__divider" />
  <section class="site-section">
    <div class="site-section__content">
      <div class="dark-panel">
        <div class="dark-panel__header"><strong>{{ year.name }}年</strong></div>
        <ul class="developer-updates__list list--no-style">
          {% for post in year.items %}
            <li class="developer-updates__listing">
              <div class="developer-updates__listing__header">
                <h4 class="developer-updates__listing__title">
                  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </h4>
                <div class="developer-updates__listing__subheading">
                  <strong class="developer-update__author">{{ post.author }}</strong> <time>{{ post.created_at | date: "%Y-%m-%d %H:%M" }}</time>
                </div>
              </div>
              <!-- <a
                class="developer-updates__listing__comments"
                href="{{ post.url | relative_url }}#disqus_thread"
                data-disqus-identifier="{{post.disqus_id}}">
                评论
              </a> -->
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endfor %}

<script id="dsq-count-scr" src="//openra.disqus.com/count.js" async></script>